@model ImageServiceWeb.Models.ThumbnailPhoto
@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<div class="col-xs-6 col-md-3" style="stroke:blue">
    <figure href="#" class="thumbnail">
        <img src="/OutputDir/@Model.Year/@Model.Month/@Model.Name" hight="242" width="200" />
    </figure>
    <p>image name: @Model.Name </p>
    <p>date: @Model.Month /@Model.Year</p>
    <form action="askIfDelete">
        <button value="@Model.ID">Delete</button>
    </form>
    @Html.ActionLink("Delete", "askIfDelete", new { id = @Model.ID })
    @Html.ActionLink("Back to Photos", "Photos")
</div>
